section.events{
  h1{
    margin: 0;
  }
  h2{
    text-align: center;
    margin: 4rem 0;
  }
  .container{
    display: flex;
    flex-flow: column;
    gap: 2rem;
    .item{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(25rem, 100%), 1fr));
      gap: 0 1rem;
      img{
        display: block;
        width: 100%;
      }
      .right{
        position: relative;
        padding: 2rem 0;
        &::before{
          content: '';
          position: absolute;
          z-index: -1;
          top: 2rem;
          left: 0;
          transform: translate(-50%, -50%);
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
        }
        &.lightblue::before{ background: #66B9FF; }
        &.blue::before{ background: #3387FF; }
        &.darkblue::before{ background: #1D0FB1; }
        &.orange::before{ background: #FB493B; }
        h4{
          margin-top: .5rem;
        }
        .flex{
          display: flex;
          align-items: center;
          gap: .3rem;
          padding: .2rem 0;
        }
        h6{
          flex-shrink: 0;
          display: grid;
          place-items: center;
          width: 1.3rem;
          height: 1.3rem;
          border: .0625rem solid #1D0FB1;
          border-radius: 50%;
          color: #fff;
          &.lightblue{
            background: #64AFDF;
          }
          &.orange{
            background: #FB493B;
          }
        }
      }
    }
  }
}