main.excursions{
  .item{
    padding: 1rem 0;
    &::before{
      content: '';
      position: absolute;
      z-index: -1;
      top: 2rem;
      left: 0;
      transform: translate(-50%, -50%);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
    h4{
      margin: .25rem 0;
    }
  }
}