section.hero{
  overflow: hidden;
  background: $bg;
  color: #fff;
  .wrapper{
    position: relative;
    z-index: 998;
    isolation: isolate;
    min-height: 98vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .cont{
      display: flex;
      flex-flow: column;
      gap: .6rem;
      h1, p{
        text-shadow: 0 0 10px #00000029;
      }
      h1{
        @media (max-width: 1025px){
          font-size: 3rem;
        }
        font-size: 3.75rem;
        margin-bottom: 0.9rem;
      }
      p{
        font-family: "Unbounded", sans-serif;
        @media (max-width: 1025px){
          max-width: min(25rem, 60vw);
          font-size: 1rem;
        }
        &:nth-child(1){ font-size: 2.5rem; font-weight: 700; }
        &:nth-child(3){ line-height: 1.5; }
        max-width: min(46rem, 70vw);
        font-size: 1.75rem;
        font-weight: 300;
      }
    }
    img{
      pointer-events: none;
      position: absolute;
      right: 0;
      transform: translateY(38%);
      z-index: -1;
      max-width: 55rem;
      max-height: 120vh;
    }
  }
}