section.hero{
  overflow: hidden;
  background: $bg;
  color: #fff;
  .wrapper{
    position: relative;
    z-index: 998;
    isolation: isolate;
    min-height: 98vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    .cont{
      display: flex;
      flex-flow: column;
      gap: .6rem;
      h1, p{
        text-shadow: 0 0 10px #00000029;
      }
      h1{
        @media (max-width: 1025px){
          font-size: 3rem;
        }
        font-size: 5rem;
        margin-bottom: 0.9rem;
      }
      p{
        @media (max-width: 1025px){
          &:nth-child(3){
            max-width: 25rem;
          }
          font-size: 1.2rem;
        }
        @media (min-width: 1025px){
          &:nth-child(1){ font-size: 2.5rem; }
          font-size: 1.75rem;
        }
        &:nth-child(1){ font-weight: 700; }
        &:nth-child(3){
          max-width: 46rem;
          line-height: 1.5;
        }
        font-weight: 300;
      }
    }
    img{
      @media (max-width: 1025px){
        right: -200px;
        transform: translateY(50%);
        max-height: 110vh;
      }
      pointer-events: none;
      position: absolute;
      right: -80px;
      transform: translateY(30%);
      z-index: -1;
      max-width: 880px;
      max-height: 150vh;
    }
  }
}

main.invitation{
  p{
    max-width: 50%;
    font-size: 1.75rem;
    line-height: 1.75;
  }
}